<mat-toolbar>
  <mat-toolbar-row class="justify-content-inbetween">
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>THE MOBILE HOUR</h1>
    <div class="row">
      <a routerLink="/login"
        ><button
          routerLinkActive="=list-item-active"
          mat-raised-button
          color="primary"
        >
          Login
        </button></a
      >
      <!-- <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" class="user">
            User Name
            <mat-icon class="user-image-icon">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="footer">
  <span class="footer-text">&copy; The Mobile Hour 2022</span>
</div>
