.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #3c4f7c;
  color: white;
}

// .mat-toolbar-row {
//   display: flex;
//   justify-content: space-between;
// }
.row {
  position: fixed;
  right: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

ul {
  li {
    list-style: none;
  }
}

// button {
//   border: 0;
//   outline: none;
//   background: transparent;
// }

.user {
  font-size: 14px;
}

.footer {
  position: fixed;
  bottom: 0%;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #cccccc;
}

.mat-raised-button.mat-primary {
  background-color: #3c4f7c;
  margin: auto 2em;
}
