<h2 mat-dialog-title>LOGIN</h2>

<form [formGroup]="loginForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <br />
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      mat-dialog-close
      (click)="loginUser()"
    >
      Login
    </button>

    <button mat-button [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>
</form>
