.products {
  padding: 3px;
  margin-top: 11px;
  background-color: #3c4f7c;
  color: white;
  min-height: 50px;
  font-size: 36px;
  padding-top: 30px;
  padding-left: 10px;
}

table {
  width: 100%;
}
