.mat-raised-button.mat-primary {
  background-color: #fc4a1a;
}

mat-card.mat-card {
  width: 250px;
  margin: 10px;
  background-color: rgb(233, 233, 224);
  box-shadow: 2px 2px rgb(197, 196, 196);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.brand,
.price {
  padding-right: 50px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
