.mat-raised-button.mat-primary {
  background-color: #3c4f7c;
}

mat-card.mat-card {
  max-width: 250px;
}
.row {
  display: flex;
}

.brand,
.price {
  padding-right: 50px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}
